[workspace]
resolver = "3"
members = [
  "aoc-2015",
  "aoc-2016",
  "aoc-2017",
  "aoc-2018",
  "aoc-2019",
  "aoc-2020",
  "aoc-2021",
  "aoc-2022",
  "aoc-2023",
  "aoc-2024",
  "aoc-2025",
  "aoc-cli",
  "aoc-common",
]
